<html>

<head>
	<meta http-equiv="refresh" content="30">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Screen message</title>
	<style>
		iframe {
      border: 0;
      width: 33%;
      height: 50%;
      overflow: hidden;
    }
	</style>
</head>

<body>
	<iframe src="/team/1" scrolling="no"></iframe>
	<iframe src="/team/2" scrolling="no"></iframe>
	<iframe src="/team/3" scrolling="no"></iframe>
	<iframe src="/team/4" scrolling="no"></iframe>
	<iframe src="/team/5" scrolling="no"></iframe>
	<iframe src="/team/6" scrolling="no"></iframe>
</body>

</html>